body{
    background-color: black;
    margin: 0px;
    font-family: monospace;
}

.header{
    width: 100%;
    height: 100px;
    align-items: center;
    border-bottom: 3px #32b9cd solid;
}

.titulo {
    margin: 0px;
    color: #32b9cd;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    width: 500px;
    color: orange;
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
p{
    color:white
}

/* começo banner */

.banner {
    height: 800px;
    background-color: rgb(0, 0, 0);
    background-image: url("imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: auto;

}

.banner .card{
    background-color: ghostwhite;
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;   

}

.btn{
    font-family: monospace;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    background-color: #e75459;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    padding: 5px 10px;
}

input {
    height: 25px;
    border: 2px solid #e75459;
    border-radius: 6px;
}

.banner .card {
    color: #e75459;
}

.card .genero{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.genero .inp1{
    height: 10px;
}

.genero .inp2{
    height: 10px;
}

.genero .inp3{
    height: 10px;
}